<html>
    <head>

    </head>
    <body>
        <h1>Hello this is the dashboard</h1>
        <div class="grid grid-cols-6">
            <div class="col-start-1">
                <a class='text-red-800' href="/signout">signout</a>
            </div>
            <div class="election-list">
                <p>Total number of election: <%=elections.length%></p>
            </div>
    
        </div>
    </body>
    
</html>