<div class="grid grid-cols-4">
    <div class="col-start-2 col-span-2">
        <%
        if(elections.length==0)
        {
        %>
        <p>You have not created any election yet. </p>
        <%   
        }
        else{
        %>
        <div class="election-list">
            <p>Total number of election: <%=elections.length%></p>
        </div>
        <table class="table-auto border border-collapse border-slate-400 max-w-prose">
            <tr>
                <th class="border border-slate-300">S.No.</th>
                <th class="border border-slate-300">Election Name</th>
                <th class="border border-slate-300">Manage Questions</th>
                <th class="border border-slate-300">Manage Voters</th>
                <th class="border border-slate-300">Launch Election</th>

            </tr>
        
    
            <% for(let i = 0; i < elections.length; i++) { %>
            <tr>
                <td class="border border-slate-500"><%= i+1%> </td>
                <td class="border border-slate-500"><%= elections[i].name %></td>
                <td class="border border-slate-500"><i class="bi bi-kanban"></i></td>
                <td class="border border-slate-500">#</td>
                <td class="border border-slate-500">#</td>
                
            </tr>
            <% } %>
            
        </table>
        <%
        }
        %>
  </div>
</div>