<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="google-site-verification" content="vV33ZVEVtwENdO4q8DiCI9_zD-b_TVPvV8zIj2q44vE" />
    <meta name="csrf-token" content="<%= csrfToken %>">
    <script src="https://cdn.tailwindcss.com"></script>
    <link href="./css/styles.css" rel="stylesheet"> 
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.2/font/bootstrap-icons.css">
  
    <link href="./css/styles.css" rel="stylesheet"> 
    <title><%= title%></title>
   
</head>
<body>
    <div id="root">
        <div class="relative min-h-screen w-full">
            <div class="container relative z-40 mx-auto p-4">
                <nav class="block w-full max-w-screen-2xl rounded-xl shadow-md backdrop-saturate-200 backdrop-blur-2xl bg-opacity-80 border border-white/80 bg-white text-white p-3">
                    <div class="container mx-auto flex items-center justify-between text-blue-gray-900">
                        <p class="text-blue-900 block antialiased font-sans text-sm leading-normal mr-4 ml-2 cursor-pointer py-1.5 font-bold">
                            Online Voting Platform  
                        </p>
                        <div class="">
                            <ul class="mb-4 mt-2 flex flex-col gap-2 lg:mb-0 lg:mt-0 lg:flex-row lg:items-center lg:gap-6">
                                <li class="block antialiased font-mono text-lg font-black leading-normal text-blue-gray-900 capitalize">
                                    New User? <a href="/signup" class="text-green-900">Sign Up</a>
                                </li>
                                <li class="block antialiased font-mono text-lg font-black leading-normal text-blue-gray-900 capitalize">
                                    Existing User? <a href="/login" class="text-green-900">Sign In</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </nav>
            </div> 
            <div class="absolute inset-1/4 flex items-center justify-center z-50 hidden lg:block">
                <div class="bg-black bg-opacity-50 shadow-lg p-6 rounded-md text-white text-center">
                    <h1 class="text-2xl font-semibold mb-4">Welcome to the Online Voting Platform</h1>
                    <ul class="list-disc text-left mb-4">
                        <li class="text-sm">Empowering administrators to manage elections effortlessly, ensuring security and accessibility.</li>
                        <li class="text-sm">Real-time results and graphical representations enhance transparency and decision-making.</li>
                        <li class="text-sm">Committed to providing an intuitive platform for administrators to oversee elections with ease.</li>
                    </ul>
                </div>
            </div>
            <img src="/image/Elections.jpg" class="absolute inset-0 z-0 h-full w-full object-cover">
        </div>
    </div>
   
    
</body>
</html>