body{
    color:grey;
    /* background-color: green; */
    font-family: 'Courier New', Courier, monospace;
}
@media (min-width: 960px) {
    .lg\\:block {
        display: block;
        align-items: center;
    }
   
}
.top-header{
    display: flex;
}




